# dependency directory
script/node_modules/
frontend/node_modules/
worker/node_modules/

# lock files
script/package-lock.json
frontend/package-lock.json
worker/package-lock.json

# env file
.env

# Build outputs
frontend/.svelte-kit/
frontend/build/
.svelte-kit/
build/
.wrangler
.vscode